<<<<<<< HEAD
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="/vendors/bootstrap/css/bootstrap.css" type="text/css">
<link rel="stylesheet" href="/style/personalstyle.css" type="text/css">
<title>TPFINAL</title>
<meta>
</head>
<body>

</body>
=======
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="/vendors/bootstrap/css/bootstrap.css" type="text/css">
<link rel="stylesheet" href="/style/personalstyle.css" type="text/css">
<title>TPFINAL</title>
<meta>
</head>
<body>

</body>
>>>>>>> 711c8bb1c68a48ddb6dfc37d6eba97cd57ec7405
</html>