<br>
<div class="container">
	 <h3 class="header">Ultimos diez viajes</h2>
	 <br>
	 <div class="table-responsive-sm">
	<table class="table table-bordered">
		<thead class="thead-light">
			<tr>
				<th>Usuario</th>
				<th>Retiro</th>
				<th>Devolucion</th>
				<th>Duracion</th>
			</tr>
		</thead>
		<tbody>
			<% 10.times do |i| %>
				<tr>
					<td>
						<%= @objusuarios[@objviajes[i][1].iduser.to_i].nombre + " " + @objusuarios[@objviajes[i][1].iduser.to_i].apellido %>
					</td>
					<td>
						<%= @objviajes[i][1].fretiro+ " "+@objviajes[i][1].hretiro  %> </br>
					</td>
					<td>
						<% duration=@objviajes[i][1].tiempouso.split(":") %>
						<% retdate=Time.parse(@objviajes[i][1].fretiro+ " "+@objviajes[i][1].hretiro) %>
						<% total=retdate+(duration[0].to_i*3600 + duration[1].to_i*60 + duration[2].to_i) %>
						<%= total.strftime('%d/%m/%Y %H:%M:%S') %> </br>
					</td>
					<td>
						<%= duration[0]+"H "+duration[1]+ "MIN "+ duration[2]+"SEG" %>
					</td>
				</tr>
			<% end %>
		</tbody>
	</table>
	</div>
</div>